.chap {
  position: relative;
  height: 100dvh;
  width: 100vw;
  background: #f7f7f7;
  display: flex;

  .left {
    left: 0;
    width: 50%;
    height: 100%;
    padding-top: 170px;
    padding-left: 155px;
    display: flex;
    flex-direction: column;
    gap: 145px;

    .imageWrapper {
      position: relative;
      width: 210px;
      height: 264px;
      overflow: hidden;

      &.offsetImage {
        margin-left: 385px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  .right {
    right: 0;
    width: 50%;
    height: 100%;
    padding-top: 72px;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    gap: 88px;

    .container1 {
      display: flex;
      flex-direction: row;
      gap: 145px;

      .para {
        margin-top: 83px;
        font-family: "Suisse Int'l Condensed Trial", sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.45;
        letter-spacing: 0;
        visibility: visible;
      }

      .imageWrapper {
        position: relative;
        width: 325px;
        height: 290px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }

    .imageWrapper2 {
      position: relative;
      width: 210px;
      height: 220px;
      margin-left: 100px;
      image-rendering: smooth;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}